<h2>Name: <%= @trail.name %></h2>
<p>Seasonal Closure: <%= @trail.seasonal_closures %></p>
<p>Mileage: <%= @trail.mileage %></p>
<p>Elevation: <%= @trail.elevation %></p>
<p>State ID: <%= @trail.state_id %></p>
<%= link_to "Update #{@trail.name}", "/trails/#{@trail.id}/edit" %>